doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Bootstrap styles
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        
        title=title
    body 
        include nav.pug
        .container
        h4(class="text-center.text-danger")=titulo
        if guardado
          .alert.alert-success(role="alert")
            | El correo ha sido guardado correctamente.
        include footer.pug