footer.footer.bg-light.py-3
  .container-fluid.text-center
    .row
      .col-md-4
        h5 Mi Empresa
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquet nulla, vel porttitor dolor aliquet ac.
      .col-md-4
        h5 Links rápidos
        ul.list-unstyled
          li
            a(href="#") Enlace 1
          li
            a(href="#") Enlace 2
          li
            a(href="#") Enlace 3
      .col-md-4
        h5 Contáctanos
        ul.list-unstyled
          li
            i.fas.fa-envelope
            a(href="mailto:info@miempresa.com") info@miempresa.com
          li
            i.fas.fa-phone-alt
            a(href="tel:+1234567890") +123 456 7890
  .container-fluid.text-center
        p Copyright © 2023 - Todos los derechos reservados.
