nav.navbar.navbar-expand-lg.navbar-light
          .container-fluid
            a.navbar-brand(href="/") My Website
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
              span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNav
              ul.navbar-nav.ms-auto
                li.nav-item
                  a.nav-link(href="/") Home
                li.nav-item
                  a.nav-link(href="#") About Us
                li.nav-item
                  a.nav-link(href="/mecanico") Mecánico
                li.nav-item
                  a.nav-link(href="/secretaria" ) Secretaria 
                li.nav-item
                  a.nav-link(href="#") Contact Us
            form.d-flex
               input.form-control(type="search", placeholder="Search", aria-label="Search")
               button.btn.btn-success(type="submit") Search